body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-53px;
  width:611px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:226px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1617px;
  width:311px;
  height:226px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:509px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:303px;
  width:285px;
  height:509px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:508px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:870px;
  width:261px;
  height:508px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:58px;
  background:inherit;
  background-color:rgba(236, 128, 141, 0.196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:739px;
  width:187px;
  height:58px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1489px;
  width:100px;
  height:60px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1669px;
  width:100px;
  height:60px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1519px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-5px;
  width:128px;
  height:10px;
}
#u11_seg1 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-5px;
  width:10px;
  height:155px;
}
#u11_seg2 {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:135px;
  width:20px;
  height:20px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1519px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:188px;
  height:10px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-5px;
  width:10px;
  height:103px;
}
#u12_seg2 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:83px;
  width:20px;
  height:20px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:1378px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:116px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:20px;
  height:20px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1843px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-411px;
  top:12px;
  width:416px;
  height:10px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:-411px;
  top:-114px;
  width:10px;
  height:136px;
}
#u14_seg3 {
  border-width:0px;
  position:absolute;
  left:-416px;
  top:-119px;
  width:20px;
  height:20px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-310px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:812px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
